body {
    margin: auto;
}


.section-one, .section-three, .section-four, .section-two, .footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}     

.section-one {
    background-color: #1f2937;
    flex-direction: column;
}

.header-row {
    
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.section-two {
    flex-direction: column;

    border: 8px solid red;

}

.row-two-pics {

    display: flex;
    justify-content: center;

}


.header-content {
    padding-right: 40px;

    
}




.header-links {
    display: flex;
    gap: 10px;
}



.section-four {
    background-color: #3882f6;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
    justify-content: center;
    
}

a, h1, button, .end-header, .end-text, .header-content, .header {
    color: white;
    text-decoration: none;
}

.end-button {
    display: flex;
    justify-content: flex-end;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
    

}


.sign-up {
    background-color: #3882f6;
    border: none;
    padding: 8px 24px;
    border-radius: 10px;
    line-height: 10px;
}





.sign-up-end {
    border-color: white;
    background-color: transparent;
    padding: 8px 24px;
    border-radius: 10px;
    line-height: 10px;

}

.content {
    border: 8px solid red;
}

.content-row-one {
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;  
}


.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.quotist {
    
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.section-one-text {
    font-size: 18px;
    color: #e5e7eb;;
}

.end-header {
    margin-bottom: 0px;
    
}


.ender-text {
    display: flex;
    flex-direction: column;
    
}